/ Piwik
/:javascript
/  var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.swistak35.com/" : "http://piwik.swistak35.com/");
/  document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
/  :javascript
/  try {
/  var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
/  piwikTracker.trackPageView();
/  piwikTracker.enableLinkTracking();
/  } catch( err ) {}
/  %noscript
/  %p
/    %img{:alt => "", :src => "http://piwik.swistak35.com/piwik.php?idsite=1", :style => "border:0"}/
/ End Piwik Tracking Code
