.rectangle
  %p
    %strong E-mail:
    me-contact // swistak35.com
  %p
    %strong Jabber/XMPP:
    swistak35@jabbim.pl
  %p
    %strong GaduGadu:
    1674572
  %p
    %strong Skype:
    swistak_35
