.rectangle
  #social-icons
    .icon
      %a{:href => "http://github.com/swistak35"}
        %img{:alt => "Github", :src => "/assets/static/github.png", :title => "Github profile"}/
    .icon
      %a{:href => "http://swistak35.blip.pl"}
        %img{:alt => "Blip", :src => "/assets/static/blip.png", :title => "Blip profile"}/
    .icon
      %a{:href => "http://twitter.com/swistak35"}
        %img{:alt => "Twitter", :src => "/assets/static/twitter.png", :title => "Twitter profile"}/
    .icon
      %a{:href => "http://www.goldenline.pl/rafal-lasocha"}
        %img{:alt => "Goldenline", :src => "/assets/static/goldenline.png", :title => "GoldenLine profile"}/
    .icon
      %a{:href => "http://lubimyczytac.pl/swistak35"}
        %img{:alt => "LubimyCzytać", :src => "/assets/static/lubimyczytac.png", :title => "LubimyCzytac profile"}/
    .icon
      %a{:href => "http://lastfm.pl/user/swistak35"}
        %img{:alt => "Last.fm", :src => "/assets/static/lastfm.png", :title => "Last.fm profile"}/
    .icon
      %a{:href => "http://youtube.com/swistak35"}
        %img{:alt => "Youtube", :src => "/assets/static/youtube.png", :title => "Youtube profile"}/
    .icon
      %a{:href => "http://www.wykop.pl/ludzie/swistak35/"}
        %img{:alt => "Wykop", :src => "/assets/static/wykop.png", :title => "Wykop profile"}/
    .icon
      %a{:href => "http://www.jamendo.com/pl/user/swistak35"}
        %img{:alt => "Jamendo", :src => "/assets/static/jamendo.png", :title => "Jamendo profile"}/
    .icon
      %a{:href => "http://www.filmweb.pl/user/swistak35"}
        %img{:alt => "Filmweb", :src => "/assets/static/filmweb.png", :title => "Filmweb profile"}/
    .icon
      %a{:href => "http://forum.dug.net.pl/profile.php?id=4649"}
        %img{:alt => "Debian Users Gang", :src => "/assets/static/dug.png", :title => "Debian Users Gang profile"}/
  #linksroll
    %ul
      %li
        %a{:href => "http://clovdo.deviantart.com/"} Cloud
      %li
        %a{:href => "http://michno.org"} Michno
      %li
        %a{:href => "http://elwin013.com"} Elwin013
      %li
        %a{:href => "http://voodoo11.digart.pl/"} Voodoo11
      %li
        %a{:href => "http://xxl93.deviantart.com/"} XXL93
      %li
        %a{:href => "http://p98.heliohost.org/"} p98
      %li
        %a{:href => "http://www.wykop.pl/ludzie/msichal/"} msichal
      %li
        %a{:href => "http://pidpawel.eu"} pidpawel
      %li
        %a{:href => "http://mippit.pl"} Mippit

<script>
$("#social-icons img[title]").tooltip();
</script>
